.windowButton {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 2px;
    margin-top: -6px;
}

.windowLink {
    color: white;
    margin-top: -12px;
    margin-bottom: 4px;
    margin-right: 15px;
    border-radius: 3px;
    padding: 0px 2px 0px 2px;
}

.windowLink:hover {
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 0px 2px 0px 2px;
    color: black;
}